<form action="/campgrounds/<%= campground._id %>?_method=PATCH" method="POST" class="form-container">
    <div class="form-inputs">
      <label for="title">Title</label>
      <input type="text" name="campground[title]" id="title" value="<%= campground.title %>" />
    </div>
    <div class="form-inputs">
      <label for="location">Location</label>
      <input type="text" name="campground[location]" id="location" value="<%= campground.location %>"/>
    </div>
    <!-- REMEMBER TO FINISH THE REST OF THE FORM HERE! -->
    <button class="btn-form" style="background-color: dodgerblue;">Update</button>
    <a href="/campgrounds/<%= campground._id %>" class="btn-back">Back to Campground</a>
</form>