<nav class="navbar">
    <span><h1>Title</h1></span>
    <div>
        <a href="">Home</a>
        <a href="/campgrounds">Campgrounds</a>
        <a href="/campgrounds/new">New Campground</a>
    </div>
</nav>