<form action="/campgrounds" method="POST" class="form-container">
  <div class="form-inputs">
    <label for="title">Title</label>
    <input type="text" name="campground[title]" id="title" />
  </div>
  <div class="form-inputs">
    <label for="location">Location</label>
    <input type="text" name="campground[location]" id="location" />
  </div>
  <div class="form-inputs">
    <label for="imageUrl">Image Url</label>
    <input type="text" name="campground[image]" id="imageUrl" />
  </div>
  <div class="form-inputs">
    <label for="price">Price</label>
    <input type="number" name="campground[price]" id="price" min="0" />
  </div>
  <div class="form-inputs">
    <label for="description">Description</label>
    <input type="textarea" name="campground[description]" id="description" />
  </div>
  <button class="btn-form">Add Campground</button>
  <a href="/campgrounds" class="btn-back">Back</a>
</form>
