<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/headMeta.ejs') %>
    <title>Document</title>
</head>
<body>
    <a href="/campgrounds/new">Add New Campground</a>

    <main class="main-container">
        <h1>All Campgrounds</h1>
        <ul>
            <% for (let campground of campgrounds){ %>
            <a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a><br>
            <% } %>
        </ul>
    </main>

</body>
</html>