<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/headMeta.ejs') %>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/navbar.css">   
    <title>Document</title>
  </head>
  <body>
    <%- include('../components/navbar.ejs') %>

    <main class="main-container-new">
      <%- include('../components/newForm.ejs') %>
      
    </main>

    <%- include('../components/footer.ejs') %>

  </body>
</html>
