* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* MAIN CONTENT OF THE PAGE */

.main-container {
  margin-top: 70px;
  flex: 1;
}

/* FOOTER OF THE PAGE */
.footer {
  background-color: #292b2c;
  height: 5em;
  text-align: center;
  color: #ebebeb;
}

/* STYLING THE IMAGES */
img {
  width: 500px;
}